<!DOCTYPE html5>
<html>
<head>
	<title>Just Like Nairaland</title>
	<link rel="stylesheet" type="text/css" href="Mummy website.css">
</head>
<body>
	<div><div class="container">
		<header><h1>Viral Links</h1></header>
		<p>Welcome, Guest: 
			<a href="#">Join Us</a> / <a href="#">LOGIN!</a> / <br />
		<a href="#">Trending</a> / <a href="#">Recent</a> / <a href="#">New</a> </p>

		<p>Stats:  .... members <br />
		Date: </p>
		<form>
			<input type="search" name="Search" />
			<input type="button" name="Search" value="Search" />
		</form>
	</div>
	
	<div class="container2">
		<h2 id="categories">Categories</h2>
		<p> General: <a href="#">Politics, </a><a href="#">Crime, </a><a href="#">Romance, </a><br /> <a href="#">Job/Vacancies, </a><a href="#">Business, </a><a>Investment,</a>
			<br /> <a href="#">NYSC,</a>
			<a href="#">Education, </a><a href="#">  HGgygtftyfygug, 	</a>
		</p>
	</div>


	<footer id="footer1">
		<p>Copyrighyt &copy; 2020, Noble Forum</p>
		<p>Email: chynweod@gmail.com</p>
	</footer></div>



</body>	
</html>
